/*common shared style*/
* {
    padding: 0;
    margin: 0;

}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn {
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background: #E55473;
}

/*banner related style*/

.banner {
    display: flex;
    align-items: center;
    background-color: #fceef1;
    justify-content: space-around;
    background-image: url('./asset/pngwing\ 10.png');
    background-position: right;
    background-repeat: no-repeat;
    justify-content: left;
    background-size: contain;
}

.banner-content {
    max-width: 40%;
    padding: 100px 100px 100px 100px;
}

.banner-content h1 {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
}

.banner-content p {
    color: #27272799;
    font-size: 12px;
    font-weight: 400;
    padding: 15px 10px 15px 0px;
}

/*featured flower section*/
.featured-flower {
    margin-top: 60px;
}

.featured-flower-heading {
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;

}

.featured-flower-description {
    color: #272727;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin-top: 20px;
    max-width: 40%;
    margin: 0 auto;
}
.featured-flower-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    
}
.featured-flower-content{
    max-width: 30%;
    max-height: 100%;
    border-radius: 150px 150px 0px 0px;
    background: #a7216226;
    width: 20%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: end;
    
}
.featured-flower-content img{
    padding: 0px 0px 0px 0px;
    width: 70%;
    height: 70%;
}
#ffthree{
background: #e3ebdb;
}
#fftwo{
    background: #d9eff1;

}
.featured-flower-name{
    display: flex;
    margin: 20px 0px;
    text-decoration: underline;
    justify-content: space-around;
}