/*common shared style*/
* {
    padding: 0;
    margin: 0;

}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn {
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background: #E55473;
}

/*banner related style*/

.banner {
    display: flex;
    align-items: center;
    background-color: #fceef1;
    justify-content: space-around;
    background-image: url('./asset/pngwing\ 10.png');
    background-position: right;
    background-repeat: no-repeat;
    justify-content: left;
    background-size: contain;
}

.banner-content {
    max-width: 40%;
    padding: 100px 100px 100px 100px;
}

.banner-content h1 {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
}

.banner-content p {
    color: #27272799;
    font-size: 12px;
    font-weight: 400;
    padding: 15px 10px 15px 0px;
}

/*featured flower section*/
.featured-flower {
    margin-top: 60px;
}

.featured-flower-heading {
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;

}

.featured-flower-description {
    color: #272727;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin-top: 20px;
    max-width: 40%;
    margin: 0 auto;
}

.featured-flower-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;

}

.featured-flower-content {
    max-width: 30%;
    max-height: 100%;
    border-radius: 150px 150px 0px 0px;
    background: #a7216226;
    width: 20%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: end;

}

.featured-flower-content img {
    padding: 0px 0px 0px 0px;
    width: 70%;
    height: 70%;
}

#ffthree {
    background: #e3ebdb;
}

#fftwo {
    background: #d9eff1;

}

.featured-flower-name {
    display: flex;
    margin: 20px 0px;
    text-decoration: underline;
    justify-content: space-around;
}

/*service related style */
.service {
    display: flex;
    max-width: 70%;
    margin: 60px auto;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: #2727270d;
    padding: 30px 50px 30px 60px;
}

.service-item img {
    margin-left: 80px;
}

.service-item-des {
    color: #272727cc;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

#service-img {
    margin-left: 23px;
}

/*hot deals */
.hot-deals {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background: #e554730d;
    max-height: 300px;
    background-image: url('./asset/pngwing\ 8.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 300px;



}

.hot-deals-item {
    max-width: 50%;
    margin-left: 200px;

}

#hot-deals-btn {
    margin-top: 20px;
    margin-left: 280px;

}

.hot-deals-item h1 {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.hot-deals-item p {
    color: #27272799;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
}

#differtent-color-text {
    color: #E55473;
}

/*insta */
.insta-header {
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

.insta-des {
    color: #27272799;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin-top: 8px;
    max-width: 400px;
    margin: 10px auto;
    margin-bottom: 40px;
}

.instagram {
    margin-top: 60px;
}

.insta-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
}

.insta-item {
    max-width: 20%;
}

.insta-item img {
    max-width: 100%;
}

.latest-deal {
    margin-top: 60px;
    background-image: url('./asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
    max-width: 70%;
    margin-left: 200px;
}

.deals-heading {
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    padding-top: 50px;

}

.deals-des {
    color: #27272799;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}
.deals-email{
    width: 350px;
    padding: 10px;
    margin-bottom: 50px;
    margin-left: 230px;
    margin-top: 10px;
}